<div class="container bg-blue-400">
  <div cdkDropListGroup class="flex p-4 pb-8 items-start overflow-x-scroll ">
    <div class="rounded bg-gray-200 flex-no-shrink w-64 p-2 mr-3" *ngFor="let column of boardService.getBoard$() | async">
      <div class="flex justify-between py-1">
        <h2 class="m-0">{{column.title}}</h2>
        <button class="" (click)="onDeleteColumn(column.id)">
          <svg class="h-4 fill-current  cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 10a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4zm7 0a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4zm7 0a1.999 1.999 0 1 0 0 4 1.999 1.999 0 1 0 0-4z"/></svg>
        </button>
      </div>
      <div cdkDropList [cdkDropListData]="column.list" class="list text-sm mt-2" (cdkDropListDropped)="drop($event)">
    
        <div cdkDrag class="box bg-white"  *ngFor="let item of column.list">
          <div class="placeholder" *cdkDragPlaceholder></div>
          <app-board-item 
            [item]="item" 
            (emitDeleteCard)="onDeleteCard($event, column.id)"
          >
          </app-board-item>
  
        </div>
        <app-dialog (emitText)="onAddCard($event, column.id)" [question]="'Add new task in '">
   
          <button class="w-full mb-1 text-start px-2 ">+  Add a card </button>
          
        </app-dialog>
        
      </div>

 
   
    </div>
    <app-dialog (emitText)="addColumn($event)" question="Add new List" class="self-center">
      <div class="rounded bg-white bg-opacity-10  flex-no-shrink w-64 p-2 mr-3">
      <button class="w-full mb-1 text-start text-white px-2 ">+  Add another list </button>
      </div>
    </app-dialog>
  </div>
</div>
<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drops($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{movie}}
  </div>
</div> -->
