<!-- <section>
    <div class="book">
        <div class="pg pg1">card</div>
        <div class="pg pg2">card2</div>
    </div>
</section>
<div class="flipbook-container m-auto">
    <div class="page" (click)="turnPage(1)"></div>
    <div class="page" (click)="turnPage(2)"></div>
    <div class="page" (click)="turnPage(3)"></div>

  </div> -->
  <section class="relative w-full flex justify-center">
  <div id="book">
  
    <input type="checkbox" id="five">
    <div id="page5" class="page">
      <div class="front">front</div>
      <div class="back">back</div>
      <label for="five"></label>
    </div>
    
    <input type="checkbox" id="four">
    <div id="page4" class="page">
      <div class="front">front</div>
      <div class="back">back</div>
      <label for="four"></label>
    </div>
    
    <input type="checkbox" id="three">
    <div id="page3" class="page ">
      <div class="front">front</div>
      <div class="back">back</div>
      <label for="three"></label>
    </div>
    
    <input type="checkbox" id="two">
    <div id="page2" class="page">
      <div class="front"><img class="pizza left-0" src="../../assets/img/wepik-export-20230509092409QWG2.png"></div>
      <div class="back">back</div>
      <label for="two"></label>
    </div>
    
    <input type="checkbox" id="one">
    <div id="page1" class="page">
      <div class="front"><img class="pizza left-0 rounded-r-full" src="../../assets/img/food-web-banner-16.jpg"></div>
      <div class="back"> <img class="pizza right-0" src="../../assets/img/wepik-export-20230509092218i3mr.png"></div>
      <label for="one"></label>
    </div>
  </div>
</section>